.container{
    width: 400px;
    height: 500px;
    border: 5px solid;
    border-radius: 50px;
    margin-left: 500px;
    overflow: scroll;
    scrollbar-width: none;
    
}
.container .header{
    height: 100px;
    background-color: greenyellow;
    position: fixed;
    top: 0px;
    width: 400px;
}
i{
    font-size: 50px;
}



