.container{
    width: 500px;
    height: 500px;
    border: 2px solid;
}
img{
    width: 100%;
    display: none;
}
.btn1:hover~.img1{
    display: block;
}
.btn2:hover~.img2{
    display: block;
}
.btn3:hover~.img3{
    display: block;
}

