body{
    height: 700px;
     display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    width: 300px;
    height: 300px;
    background-color: lightcoral;
   /* transition-property: background-color,padding; */
   /* transition-duration: 0.3s; */
   /* transition-delay: 4s; */
   /* transition-timing-function: ease; */
   transition: all 3s ease;
   
   

}
.container:hover{
    background-color: lawngreen;
    padding: 50px;
}